<h2>MY FAVORITES</h2>

<ul class="listheroes">
  {{#each allFavCharacters}}
    {{#with this.character}}
      <li class="superhero">
        <h3>{{name}}</h3>
        <img
          class="character-img"
          src="{{thumbnail.path}}.{{thumbnail.extension}}"
          alt="{{name}}"
        />
        <form action="/profile/favorites/{{this._id}}/delete" method="post">
          <button id="delete-fav-btn" type="submit">Delete from Favorites!</button></form>

        <p class="red-entry">Description:</p>
        {{description}}
        <p class="red-entry">Comics related:</p>

        {{#each comics.items}}
          <ul>
            <li>{{this.name}}</li>
          </ul>
        {{/each}}
      </li>
    {{/with}}
  {{/each}}

</ul>