<h2>PROFILE OF {{currentUser.username}}</h2>
<div id="profile-page">
  <img id="user-img" src={{currentUser.image}} alt={{currentUser.username}} />
  <p>
    Name:
    {{currentUser.username}}
  </p>

  <p>
    Email:
    {{currentUser.email}}
  </p>

  <a href="/profile/{{currentUser._id}}/edit">
    <button class="form-btn" type="submit">EDIT YOUR PROFILE</button></a>
</div>