<h2>PROFILE OF {{currentUser.username}}</h2>
<img src={{currentUser.image}} alt={{currentUser.username}}>
<p>
  username:
  {{currentUser.username}}
</p>

<p>
  email:
  {{currentUser.email}}
</p>

<p>{{currentUser.bio}}</p>
<a href="/profile/{{currentUser._id}}/edit"><button
    id="edit-btn"
    type="submit"
  >Edit your profile</button></a>