<h1>Profile of {{currentUser.username}}</h1>
<p>
	username:
	{{currentUser.username}}
</p>

<p>
	email:
	{{currentUser.email}}
</p>

<p>{{currentUser.bio}}</p>
<a href="/profile/{{currentUser._id}}/edit"><button id="edit-btn" type="submit">Edit your profile</button></a>
<a href="/profile">Reload</a>