<h2>SUPERHERO SEARCH RESULTS:</h2>

<ul id="listheroes">
  {{#each searchedHero}}
    <li id="superhero">
      <img
        class="character-img"
        src="{{this.thumbnail.path}}.{{this.thumbnail.extension}}"
        alt="{{this.name}}"
      />
      <form action="/profile/favorites/{{this._id}}/add" method="post"><button
          type="submit"
          id="add-fav-btn"
        >Add to your Favorites!</button></form>

      Name:
      {{this.name}}
      Description:
      {{this.description}}
      Comics related:

      {{#each this.comics.items}}
        <ul>
          <li>{{this.name}}</li>
        </ul>
      {{/each}}
    </li>
  {{/each}}
</ul>